#mockup {
    width: 284px;
    height: 417px;
    background-image: url("images/interface.10.png");

    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
}

body {
    color: #1c152e;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}


.table {
    max-width: 417px;
    max-height: 283px;
    border-radius: 15px;
}

h1 {
    font-weight: 700;
}

ul {
    list-style: none;
}

li {
    font-weight: 500;
    margin: 2px 0;
    background-color: #e7ecf4;
    padding: 10px 25px;
}

.fa-check {
    padding-right: 25px;
}

.break {
    padding-left: 40px;
}

.corners-up {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.corners-down {
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}