/*** ALL ***/

* {
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 17px;
    font-weight: 400;
}

li {
    display: inline;
    color: black;
    text-align: left;
}


ul {
    list-style-type: none;
    padding: 0;
}


.container {
    margin: 5px;
}


.container>* {
    padding: 14px;
}


/** Navigation Links **/


.navigation li {
    margin-left: -10px;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 14px;
}


/*** Social Media Links **/

.links li {
    margin-left: -10px;
    padding: 14px 8px;
    font-size: 12px;
}

/*** Coloured circles layout***/

.circle6 {
    background-color: yellow;
    text-align: center;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
}

.circle3 {
    background-color: turquoise;
    text-align: center;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
}