

body {
    font-family: 'Open Sans', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 22px;
    font-weight: 400;
}

ul {
    list-style-type: none;
  padding: 0;
}

li {
    display: inline;
    color: black;
    text-align: left;
}

.container {
    margin: 25px;
}

.container > * {
    padding: 3px;
}

.navigation li {
    padding: 14px 10px;
    font-weight: 700;
}

.links li {
    padding: 14px 5px;
}


img {
    max-width: 30px;
}

.circle6 {
    background-color: yellow;
    text-align: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
}


.circle3 {
    background-color: turquoise;
    text-align: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
}