.containers {
width: 1230px;
height: 676px;
background-color: #f1eee9;
display: grid;
grid-template: "left top"
            "left bottom" ;
}

.left-container {
    margin: auto auto;
    width: 595px;
    height: 654px;
    grid-area: left;
    background-color: #2e3238;
    color:#fefefe;
    text-align: center;
    display: table;
    font-family: 'EB Garamond', serif;
}


.text1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
    padding: 0 120px;
}

.quote {
    margin: 0;
    padding: 0;
}

.button {
    border:1px solid#fefefe;
    background-color: #2e3238;
    color:#fefefe;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.right-containers {
    margin: auto auto;
    max-width: 595px;
}

.right-topcontainer {
    height: 412px;
grid-area: top;
object-fit: fill;
overflow: hidden;
}

.right-bottomcontainer {
    height: 229px;
    grid-area: bottom;
    color: #ede5e1;
background-color: #9d7255;
display: table;
text-align: center;
margin: 5px;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
word-spacing: 3px;

}

.right-bottomcontainer  p{
    text-align: left;
    vertical-align: middle;
    display: table-cell;   
padding: 0 100px;
}