/*** ALL ***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containers {
    width: 1222px;
    height: 673px;
    background-color: #f1eee9;
    display: grid;
    grid-template: "left top"
        "left bottom";
}

/*** LEFT SIDE ***/

.left-container {
    width: 600px;
    height: 650px;
    grid-area: left;
    background-color: #2e3238;
    color: #fefefe;
    text-align: center;
    display: table;
    font-family: 'EB Garamond', serif;
    margin: auto auto;
}

.quote {
    font-size: 70px;
}

.text1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 38px;
    padding: 0 120px;
    line-height: 40px;
}

.button {
    border: 1px solid#9c9ca0;
    background-color: #2e3238;
    color: #fefefe;
    padding: 20px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 35px;
    cursor: pointer;
}


/*** RIGHT SIDE ***/

.right-containers {
    margin-left: 5px;
}

/*** TOP ***/

.right-topcontainer {
    margin-top: 10px;
    grid-area: top;

}

img {
    width: 600px;
    height: 417px;
    object-fit: cover;
}

/*** BOTTOM ***/

.right-bottomcontainer {
    margin-top: 5px;
    width: 600px;
    height: 229px;
    grid-area: bottom;
    color: #ede5e1;
    background-color: #9d7255;
    display: table;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    word-spacing: 3px;

}

.right-bottomcontainer p {
    text-align: left;
    vertical-align: middle;
    line-height: 25px;
    display: table-cell;
    padding: 0 100px;
}